#home {
  position: absolute;
  top: 330px;
  left: 0px;
  font-family: "Franklin Gothic Medium";
  color: #4c586f;
  text-decoration: none;
}
#profile {
  position: absolute;
  top: 390px;
  left: 0px;
  font-family: "Franklin Gothic Medium";
  color: #4c586f;
  text-decoration: none;
}
#cv {
  position: absolute;
  top: 450px;
  font-family: "Franklin Gothic Medium";
  color: #4c586f;
  text-decoration: none;
}
#galery {
  position: absolute;
  top: 510px;
  font-family: "Franklin Gothic Medium";
  color: #4c586f;
  text-decoration: none;
}
#kontak {
  position: absolute;
  top: 570px;
  font-family: "Franklin Gothic Medium";
  color: #4c586f;
  text-decoration: none;
}
#title-header {
  color: #ebeced;
  background-color: #a2aab0;
  padding: 35px;
  font-family: system-ui;
  text-align: right;
}
a {
  border-radius: 3px;
  padding: 10px;
}
a:active,
a:hover {
  background: snow;
}
#garis1 {
  position: absolute;
  top: 940px;
  color: snow;
  border-top: 2px solid snow;
  width: 99.5%;
}
#linkig {
  position: absolute;
  top: 760px;
  left: 74%;
}
#gitlab {
  position: absolute;
  top: 760px;
  left: 79%;
}
#steam {
  position: absolute;
  top: 760px;
  left: 84%;
}
#spotify {
  position: absolute;
  top: 760px;
  left: 89%;
}
.verticalline {
  border-left: 6px solid snow;
  height: 810px;
  width: 2px;
  position: absolute;
  top: 135px;
  left: 122px;
}
@font-face {
  font-family: "Keren";
  src: url(Font/Monument\ Extended\ Bold.ttf);
}
#besar {
  font-family: "Keren", sans-serif;
  font-size: 48px;
  position: absolute;
  top: 400px;
  left: 190px;
}
#garis2 {
  border-top: 3px solid black;
  position: relative;
  left: 65px;
  top: 520px;
}
#kecil {
  font-family: "Keren", sans-serif;
  position: absolute;
  top: 580px;
  left: 1800px;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #a2aab0;
  height: auto;
  width: 94.8vw;
  padding: 50px;
  color: #ebeced;
  font-family: system-ui;
}
#title-home {
  font-size: 50px;
  position: relative;
  left: 150px;
  font-family: "Bondi", sans-serif;
}
@font-face {
  font-family: "Bondi";
  src: url(Font/Bondi.otf);
}
#content-home {
  position: absolute;
  left: 240px;
  top: 350px;
  font-size: 48px;
  font-family: "keren", sans-serif;
  color: red;
}
@font-face {
  font-family: "Bloom";
  src: url(Font/BeautifulBloom-Regular.ttf);
}
img {
  position: absolute;
  top: 134px;
  left: 130px;
}
#home-name {
  color: snow;
}
#content2-home {
  position: absolute;
  left: 270px;
  top: 550px;
  color: snow;
  font-family: monospace;
}
#content-profile {
  position: absolute;
  top: 200px;
  color: snow;
}
div a:hover {
  background: none;
}
#pp {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid #a2aab0;
  position: absolute;
  top: 250px;
  left: 250px;
}
.content-profile-name {
  position: absolute;
  top: 210px;
  left: 600px;
  color: #ebeced;
  font-size: 48px;
  font-family: "Aquatico";
}
.content-profile-age {
  position: absolute;
  top: 360px;
  left: 670px;
  color: #ebeced;
  font-size: 48px;
  font-family: "Aquatico";
}
@font-face {
  font-family: "Aquatico";
  src: url(Font/Aquatico-Regular.otf);
}
.content-profile-birth {
  position: absolute;
  top: 500px;
  left: 645px;
  color: #ebeced;
  font-size: 48px;
  font-family: "Aquatico";
}
.content-profile-more {
  position: absolute;
  top: 670px;
  left: 400px;
  color: #ebeced;
  font-size: 20px;
}
header {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 44px;
  background: #a2aab0;
  height: auto;
  width: 95.4vw;
  color: #ebeced;
  font-family: "Bondi";
  text-align: right;
  font-size: 40px;
}
@font-face {
  font-family: "Facon";
  src: url(Font/Facon.otf);
}
.initial {
  position: absolute;
  top: 0%;
  left: 50px;
  color: chartreuse;
  font-family: "Facon";
  font-size: 70px;
}
#bg-tab {
  position: absolute;
  top: 135px;
  left: 130px;
}
.tittle-cv {
  position: absolute;
  top: 200px;
  left: 300px;
  color: snow;
  font-size: 48px;
}
.sekola {
  position: absolute;
  top: 400px;
  left: 200px;
  color: snow;
  font-size: 38px;
}
.content-cv {
  position: absolute;
  top: 350px;
  left: 200px;
  color: snow;
  font-size: 38px;
}
.profile {
  position: absolute;
  left: 986px;
  top: 200px;
  background: slategrey;
  width: 80px;
  height: 80px;
}
.inbox {
  position: absolute;
  left: 986px;
  top: 400px;
  background: slategrey;
  width: 80px;
  height: 80px;
}
.lamp {
  position: absolute;
  left: 986px;
  top: 600px;
  background: slategrey;
  width: 80px;
  height: 80px;
}
.line1 {
  border-left: 6px solid cyan;
  height: 119px;
  width: 2px;
  position: relative;
  top: 255px;
  left: 1015px;
}
.line2 {
  border-left: 6px solid cyan;
  height: 120px;
  width: 2px;
  position: relative;
  top: 335px;
  left: 1015px;
}
.line3 {
  border-left: 6px solid cyan;
  height: 164px;
  width: 2px;
  position: relative;
  top: 415px;
  left: 1015px;
}
.content-cv-profile {
  position: absolute;
  left: 900px;
  top: 270px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 20px;
}
.content-cv-contact {
  position: absolute;
  left: 1070px;
  top: 270px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 20px;
}
.content-cv-experience {
  position: absolute;
  left: 1070px;
  top: 470px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 20px;
}
.content-cv-education {
  position: absolute;
  left: 870px;
  top: 470px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 20px;
}
.content-cv-skill {
  position: absolute;
  left: 920px;
  top: 670px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 20px;
}
.content-cv-interest {
  position: absolute;
  left: 1070px;
  top: 670px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 20px;
}
.isi1 {
  position: absolute;
  left: 850px;
  top: 310px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 15px;
}
.isi2 {
  position: absolute;
  left: 1070px;
  top: 310px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 15px;
}
.isi3 {
  position: absolute;
  left: 810px;
  top: 520px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 15px;
}
.isi4 {
  position: absolute;
  left: 1070px;
  top: 510px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 13px;
}
.isi5 {
  position: absolute;
  left: 830px;
  top: 720px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 15px;
}
.isi6 {
  position: absolute;
  left: 1060px;
  top: 720px;
  color: #ebeced;
  font-family: "system-ui";
  font-size: 15px;
}
.video {
  position: absolute;
  left: 530px;
  top: 133px;
}
.isi-gallery {
  position: absolute;
  left: 200px;
  top: 100px;
  color: red;
  font-size: 48px;
  font-family: "Keren";
}
.smartphone {
  position: absolute;
  left: 1050px;
  top: 250px;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}
.content-contact {
  position: absolute;
  left: 700px;
  top: 100px;
  color: red;
  font-size: 48px;
  font-family: "Keren";
}
.line-contact {
  border-left: 6px solid snow;
  height: 654px;
  width: 2px;
  position: relative;
  top: 165px;
  left: 1015px;
}
.letter {
  position: absolute;
  left: 900px;
  top: 400px;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}
.location {
  position: absolute;
  left: 1050px;
  top: 550px;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}
.Line {
  position: absolute;
  left: 900px;
  top: 700px;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}
.isi-contact1 {
  position: absolute;
  left: 1170px;
  top: 230px;
  color: black;
  font-family: "system-ui";
  font-size: 40px;
}
.isi-contact2 {
  position: absolute;
  left: 350px;
  top: 380px;
  color: black;
  font-family: "system-ui";
  font-size: 40px;
}
.isi-contact3 {
  position: absolute;
  left: 1170px;
  top: 480px;
  color: snow;
  font-family: "system-ui";
  font-size: 40px;
}
.isi-contact4 {
  position: absolute;
  left: 650px;
  top: 680px;
  color: snow;
  font-family: "system-ui";
  font-size: 40px;
}
@font-face {
  font-family: "Bondi";
  src: url(Font/Bondi.otf);
}
